<div class="container mt-4" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h4><%=result.Fname%></h4>
            <br />
            <table class="table table-dark table-bordered">
                <tr>
                    <td>Full Name</td>
                    <td><%= result.Fname %></td>
                </tr>
                <tr>
                    <td>email</td>
                    <td><%= result.email %></td>
                </tr>
                <tr>
                    <td>password</td>
                    <td><%= result.password %></td>
                </tr>
                <tr>
                    <td>address</td>
                    <td><%= result.address %></td>
                </tr>               
                <tr>
                    <td>class</td>
                    <td><%= result.class %></td>
                </tr>               
                <tr>
                    <td>gender</td>
                    <td><%= result.gender %></td>
                </tr>               
                <tr>
                    <td>pno</td>
                    <td><%= result.pno %></td>
                </tr>               
            </table>
        </div>
    </div>
</div>