<div class="container mt-4" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h4>View Student</h4>
            <br />
            <table class="table table-light table-bordered">
                <tr>
                    <td>Full Name</td>
                    <td><%= result.name %></td>
                </tr>
                <tr>
                    <td>Fee</td>
                    <td><%= result.fee %></td>
                </tr>
                <tr>
                    <td>Class</td>
                    <td><%= result.class %></td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td><%= result.contact %></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td><%= result.gender %></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><%= result.address %></td>
                </tr>
               
            </table>
        </div>
    </div>
</div>